.box_wrap{
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    max-width:100%;
    min-width: 100%;
    /* flex:1; */
    overflow:hidden;
}

/* Mobile - Stack layout vertically */
@media (max-width: 768px) {
    .box_wrap {
        flex-direction: column;
    }
}